<mat-drawer-container hasBackdrop="true">
    <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>HOME</button>
            <button mat-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" (mouseover)="openGenres(true)">GENRES</button>
            <mat-menu #menu="matMenu">
                <!-- <button mat-menu-item *ngFor = "let g of genres?.genres">{{g.name}}</button> -->
            </mat-menu>
        </mat-toolbar>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>